[submodule "paper-color"]
	path = paper-color
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim-tex-fold"]
	path = vim-tex-fold
	url = https://github.com/matze/vim-tex-fold
[submodule "goyo.vim"]
	path = goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "seoul256.vim"]
	path = seoul256.vim
	url = https://github.com/junegunn/seoul256.vim
[submodule "gruvbox"]
	path = gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim-wordy"]
	path = vim-wordy
	url = https://github.com/reedes/vim-wordy
