[submodule "paper-color"]
	path = paper-color
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim-tex-fold"]
	path = vim-tex-fold
	url = https://github.com/matze/vim-tex-fold
