[submodule "paper-color"]
	path = paper-color
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim-tex-fold"]
	path = vim-tex-fold
	url = https://github.com/matze/vim-tex-fold
[submodule "goyo.vim"]
	path = goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "seoul256.vim"]
	path = seoul256.vim
	url = https://github.com/junegunn/seoul256.vim
[submodule "gruvbox"]
	path = gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim-wordy"]
	path = vim-wordy
	url = https://github.com/reedes/vim-wordy
[submodule "vim-commentary"]
	path = vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim-dirvish"]
	path = vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "vim-peekaboo"]
	path = vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo
[submodule "vim-sneak"]
	path = vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "vim-pencil"]
	path = vim-pencil
	url = https://github.com/reedes/vim-pencil
[submodule "vim-colors-pencil"]
	path = vim-colors-pencil
	url = https://github.com/reedes/vim-colors-pencil
[submodule "vim-textobj-sentence"]
	path = vim-textobj-sentence
	url = https://github.com/reedes/vim-textobj-sentence
[submodule "vim-textobj-quote"]
	path = vim-textobj-quote
	url = https://github.com/reedes/vim-textobj-quote
[submodule "vim-lexical"]
	path = vim-lexical
	url = https://github.com/reedes/vim-lexical
[submodule "vim-textobj-user"]
	path = vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
